@{
    ViewData["Title"] = "Sistema Vendas";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="container">
    <div style="width: 100%; margin-top:10%">
        <img src=~/Images/FundoHome3.png width="80%" />
    </div>
</div>