@using ProjetoVendas.ViewModels

@model SellerViewModel

@{
    ViewData["Title"] = "Adicionar";
}

<h4>Vendedores</h4>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SellerModel.Name" class="control-label"></label>
                    <input asp-for="SellerModel.Name" class="form-control" />
                    <span asp-validation-for="SellerModel.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SellerModel.Email" class="control-label"></label>
                    <input asp-for="SellerModel.Email" class="form-control" />
                    <span asp-validation-for="SellerModel.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SellerModel.BirthDate" class="control-label"></label>
                    <input asp-for="SellerModel.BirthDate" class="form-control" />
                    <span asp-validation-for="SellerModel.BirthDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SellerModel.BaseSalary" class="control-label"></label>
                    <input asp-for="SellerModel.BaseSalary" class="form-control" />
                    <span asp-validation-for="SellerModel.BaseSalary" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Departamento</label>
                        <select asp-for="SellerModel.Departament.Id" asp-items="@(new SelectList(Model.Departament, "Id", "Name"))" class="form-control"></select>
                        <input type="hidden" asp-for="SellerModel.Departament.Name" value="any" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-success fw-bold" />
                <a class="btn btn-info fw-bold" asp-action="Index" >Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }
}
